/*
 * Begin WP body_class() common
 * body_class() http://codex.wordpress.org/Template_Tags/body_class
 */

.rtl { }
.home { }
.blog { }
.archive { }
.date { }
.search { }
.paged { }
.attachment { }
.error404 { }
.single { }
/*postid-(id)
.attachmentid-(id)
.attachment-(mime-type)*/
.author { }
/*.author-(user_nicename)*/
.category { }
/*.category-(slug)*/
.tag { }
/*.tag-(slug)*/
.page-parent { }
.page-child { }
/*parent-pageid-(id)*/
.page-template { }
/*.page-template-(template file name)*/
.search-results { }
.search-no-results { }
.logged-in { }
/*.paged-(page number)
.single-paged-(page number)
.page-paged-(page number)
.category-paged-(page number)
.tag-paged-(page number)
.date-paged-(page number)
.author-paged-(page number)
.search-paged-(page number) */


/*
 * Begin WP post_class() common
 * post_class() http://codex.wordpress.org/Template_Tags/post_class
 */
.post-id { }
.post { }
.page { }
.attachment { }
.sticky { }
.hentry { }
.category-misc { }
.category-example { }
.tag-news { }
.tag-wordpress { }
.tag-markup { }


/*
 * Begin WP post_class() common
 * post_class() http://codex.wordpress.org/Template_Tags/post_class
 */
.comment {  }
.trackback {  }
.pingback {  }
.byuser {  }
.bypostauthor {  }
.comment-author-[user_nicename] {  }
.even {  }
.alt {  }
.odd {  }
.depth-# {  }
.thread-even {  }
.thread-alt {  }
.thread-odd {  }



/* MISC common */
.categories { }
.cat-item { }
.current-cat { }
.current-cat-parent { }
.children { }
.pagenav { }
.page_item { }
.current_page_item { }
.current_page_parent { }
.current_page_ancestor { }
.widget { }
.widget_text { }
.blogroll { }
.linkcat{ }
.post { margin-bottom: 36px; }
.post-edit-link { font-size: 10px; }
a.more-link {
    display: block;
    margin-top: 18px;
}

